
.box-model {
  position: relative;
  width: 60vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.box-model > div {
  position: absolute;
  text-align: center;
  opacity: 0.45;
}

.box-model > div:hover {
  opacity: 0.85;
  font-weight: bold;
}

.margin {
  background-color: #FFF176;
  width: 100%;
  height: 100%;
}

.border {
  background-color: #FFEB3B;
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
}

.padding {
  background-color: #9CCC65;
  width: calc(100% - 16rem);
  height: calc(100% - 16rem);
}

.innerHTML {
  background-color: #29B6F6;
  width: calc(100% - 24rem);
  height: calc(100% - 24rem);
}
